$corDeFundo: #000;
$corTitulo: #fff;
$corTituloRed: #e71d1d;
$corTextoPrincipal: silver;
$corTextoSecundaria: #f9f9f9;
$buttonBackgroundPrimary: #570000;
$buttonBackgroundSecondary: #750000;
$buttonBackgroundDark: #000;