@use 'color';

.footer {
    padding: 120px;
    text-align: center;
    background-color: color.$buttonBackgroundPrimary;
    width: 100%;

    
    .text {
        color: color.$corTextoSecundaria;
    }
}